/* {
	border: 1px dotted #000000;
}*/

/* Core */

body {
	background: url(../img/bgimg1.jpg) no-repeat;
}

/* Header */

li {
	display: inline-block;

	font-size: 30px;
	font-family: 'Open Sans', sans-serif, Verdana, Arial;

	width: auto;

	margin: 0 3px;
	padding-top: 2%;
	padding-left: 10.7%;
}

i {
	position: relative;
	left: 2.4%;
	top: 120%;

	margin: 10px;
}

/* Body */

.home {
	padding-top: 2%;
}

.container-fluid {
	width: 95%;
	margin: auto;
}

.blocks {
	width: 100%;
	height: 650px;
	background-color: blue;
	opacity: 0.8;

	text-align: center;
	font-size: 26px;
	color: #00FF00;
	margin: 2px;
}

.col-md-4 .row .col-md-12 .blocks {
	height: 325px;
}

.col-md-12 .blocks {
	height: 150px;
}

/* Footer */

.horibar {
	width: 90%;
	height: 1px;

	margin: 2% auto;
	border: 1px solid #000000;
}

.copyright {
	text-align: center;

	font-size: 10px;
	font-family: Verdana, sans-serif, Arial;
}